<style>
.active{
    color:white;
}
</style>

<nav class="flex items-center justify-between flex-wrap bg-black p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <img class="object-scale-down h-10 w-10" src="https://images.vexels.com/media/users/3/137413/isolated/preview/4acb8e52632aa9b7c874b878eaf02bc4-icono-de-spotify-logo-by-vexels.png" alt="Spotiapp">
      <span class="font-semibold text-xl tracking-tight ml-5">Spotiapp</span>
    </div>
    
    <div class="block flex-grow flex items-center w-auto">
      <div class="text-sm lg:flex-grow">
        <a routerLink="home" class="block inline-block mt-0 text-teal-200 hover:text-white mr-4" routerLinkActive="active">
          Home
        </a>
        <a routerLink="search" class="block inline-block mt-0 text-teal-200 hover:text-white mr-4" routerLinkActive="active">
          Search
        </a>                       
      </div>
    </div>
    <div class="select">
      <select (change)="onNavigate($event.target.value)" name="country" id="country">
        <option class="option" *ngFor="let pais of paises" [value]="pais[0]"><a>{{pais[1]}}</a></option>
      </select>       
  </div>
  </nav>